body{
    font-family: 'Poppins', sans-serif;
}

#selcet-v{
    height: 330px;
    min-width: 250px ;

}
#budget{
    height: 420px;
    min-width: 250px ;
}

#footer{
    background-color: rgb(154, 25, 25);
    height: 100px;
}